<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @seat.show_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @seat.user_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @seat.number %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
