<%= form_with(model: cinema , url: create_movie_path) do |form| %>
  <% if cinema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cinema.errors.count, "error") %> prohibited this cinema from being saved:</h2>

      <ul>
        <% cinema.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie %>
    <%= form.collection_select :movie_id , Movie.all , :id , :name %>
  </div>
  <%= form.hidden_field :cinema_id , value: @get.id %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
